<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
		<typeAlias type="com.example.demo.Mybatis.DAO.User" alias="User" />
		<typeAlias type="com.example.demo.Mybatis.DAO.Post" alias="Post" />
		<typeAlias type="com.example.demo.Mybatis.DAO.Comment" alias="Comment" />

		<typeAlias type="com.example.demo.DTO.Request.JoinForm" alias="JoinForm"/>
	</typeAliases>
</configuration>