* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Malgun Gothic", sans-serif;
}

body {

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0; */
}

p {
    margin: 0px;
}

td {
    border-top: 1px solid #eee;
    vertical-align: middle;
}

th {
    height: 45px;
    border-width: 0 0 1px;
    border-top: 2px solid gray;
    vertical-align: middle;
    text-align: center;
}

input::placeholder {
    color: #F0F0F0;
    font-weight: lighter;
}

footer {
    width: 100%;
    margin: 3rem 0;
}


textarea::placeholder {
    color: #ccc;
    font-weight: lighter;
}

li {
    list-style: none;
}