<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mybatis.mapper.BoardMapper">


    <!-- ########## SELECT COUNT ########## -->

    <select id="countTotalPost" resultType="int">
        SELECT count(*) FROM post; 
    </select>

    <select id="countTotalPostWithSearch" resultType="int">
        SELECT count(*)
        FROM post
        <where>
            <choose>
                <when test="search_type == 'author_title'">                    
                    author LIKE CONCAT('%', #{query}, '%') OR title LIKE CONCAT('%', #{query}, '%')
                </when>
                <when test="search_type == 'title'">
                    title LIKE CONCAT('%', #{query}, '%')
                </when>                
                <when test="search_type == 'author'">
                    author LIKE CONCAT('%', #{query}, '%')
                </when>
            </choose>
        </where>
    </select>

    <select id="countPostJoinUser" resultType="int">
        SELECT count(*)
        FROM post p join user u on p.author = u.name
        WHERE u.id = #{id} and p.pri_no = #{pri_no};
    </select>

    <!-- ########## SELECT ########## -->

    <select id="findAll" resultType="Post">
    <![CDATA[ 
        SELECT *
        FROM post;
    ]]>
    </select>


    <select id="findPostWithPostNum" resultType="Post">
        SELECT *
        FROM post
        WHERE pri_no = ${postNum};
    </select>

    <select id="findPostsWithPaging" resultType="Post">
        SELECT *
        FROM post 
        ORDER BY pri_no DESC 
        LIMIT #{startPost}, 10; 
    </select>

    <select id="findPostWithPagingAndSearchType" resultType="Post">
        SELECT *
        FROM post
        <where>
            <choose>
                <when test="search_type == 'author_title'">
                    (author LIKE CONCAT('%', #{query}, '%') OR title LIKE CONCAT('%', #{query}, '%'))
                </when>

                <when test ="search_type == 'title'">
                    ${search_type} LIKE CONCAT('%', #{query}, '%')
                </when>
                <when test="search_type == 'author'">
                    ${search_type} LIKE CONCAT('%', #{query}, '%')
                </when>
            </choose>
        </where>
        ORDER BY pri_no DESC
        LIMIT #{startPost}, 10;
    </select>
    
    <!-- ########## INSERT ########## -->

    <insert id="insertPost" parameterType="Post">
        INSERT 
        INTO post(title, content, author, views, likes, dislikes, create_date) 
        VALUES(#{title}, #{content}, #{author}, 0, 0, 0, #{create_date})
    </insert>



    <!-- ########## UPDATE ########## -->

    <update id="updatePostWithPostNum" parameterType="Post">
        UPDATE post
        SET title = #{title}, content = #{content}, create_date = #{create_date}
        WHERE pri_no = #{pri_no};
    </update>

    <update id="updatePostInLike" parameterType="int">
        UPDATE post
        SET likes = likes + 1
        WHERE pri_no = #{pri_no}
    </update>


    <update id="updatePostInDisLike" parameterType="int">
        UPDATE post
        SET dislikes = dislikes + 1
        WHERE pri_no = ${pri_no}
    </update>

    <update id="updatePostView" parameterType="int">
        UPDATE post
        SET views = views + 1
        WHERE pri_no = ${pri_no}
    </update>

    <update id="increaseCmtCount">
        UPDATE post
        SET cmt_count = cmt_count + 1
        WHERE pri_no = #{pri_no}
    </update>

    <update id="decreaseCmtCount">
        UPDATE post
        SET cmt_count = cmt_count - 1
        WHERE pri_no = #{pri_no}
    </update>
    
    <!-- ########## DELETE ########## -->

    <delete id="deletePostWithPostNum" parameterType="int">
        DELETE FROM post 
        WHERE pri_no = ${pri_no};
    </delete>
</mapper>