<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mybatis.mapper.CommentMapper">

    <!-- ########## SELECT COUNT ########## -->

    <select id="countCommentBypostId" resultType="int">
        SELECT count(*)
        FROM comment
        WHERE post_pri_no = #{post_pri_no}
    </select>

    <!-- ########## SELECT ########## -->

    <select id="findAllComment" resultType="Comment">
        SELECT *
        FROM comment
    </select>

    <select id="findAllCommentBypostId" resultType="Comment">
        SELECT *
        FROM comment
        WHERE post_pri_no = #{post_pri_no}
    </select>

    <select id="findAllOrderCommentBypostId" resultType="Comment">
        SELECT *
        FROM comment
        WHERE post_pri_no = #{post_pri_no}
        ORDER BY COALESCE(cmt_group, cmt_no), depth, create_date;
    </select>

    <!-- ########## INSERT ########## -->
    <insert id="insertComment" parameterType="Comment">
        INSERT
        INTO comment(cmt_name, cmt_content, create_date, post_pri_no)
        VALUES(#{cmt_name}, #{cmt_content}, #{create_date}, #{post_pri_no})
    </insert>

    <delete id="deleteComment" parameterType="int">
        DELETE
        FROM comment
        WHERE cmt_no = #{cmt_no} and post_pri_no = #{post_pri_no}
    </delete>

</mapper>